ENVIRONMENT=TESTING
TIMEZONE=Europe/Berlin
VERBOSE_LOGGING=false

MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

APP_PROD_DOMAIN=
API_PROD_DOMAIN="test.de"
API_PATH_PREFIX="/api/v1"

REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_SECRET=

TEST_MAIL_RECEIVER=
TEST_MAIL_RECEIVER_PASS=
TEST_MAIL_RECEIVER2=
TEST_MAIL_RECEIVER2_PASS=
